<mat-card>

    <form [formGroup]="frmStepFour">
      <div class="row">
        <mat-form-field>
          <input matInput placeholder="Name" formControlName="name" matInput required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Phone Number" formControlName="phoneNumber" matInput required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email" matInput required>
        </mat-form-field>
      </div>
  
      <mat-card-actions>
        <button type="button" matStepperNext class="btn btn-primary pull-right">Next</button>
      </mat-card-actions>
  
    </form>
  
</mat-card>
