<mat-card>

    <form [formGroup]="frmStepThree">
        <div class="row">
            <mat-form-field>
                <input matInput placeholder="Position Title" formControlName="positionTitle" matInput required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Same As Company Address" formControlName="sameAsCompanyAddress" matInput required>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field>
                <input matInput placeholder="Address" formControlName="address" matInput required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="City" formControlName="city" matInput required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Zip Code" formControlName="zipCode" matInput required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="County" formControlName="county" matInput required>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field>
                <input matInput placeholder="Hourly Wage" formControlName="hourlyWage" matInput required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Hours to be worked early" formControlName="hoursWorked" matInput required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Shift Start Time" formControlName="shiftStart" matInput required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Shift End Time" formControlName="shiftEnd" matInput required>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field>
                <input matInput placeholder="Schedule" formControlName="schedule" matInput required>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field>
                <input matInput placeholder="Start Date" formControlName="startDate" matInput required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="End Date" formControlName="endDate" matInput required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Job Description" formControlName="jobDescription" matInput required>
            </mat-form-field>
        </div>
  
        <mat-card-actions>
            <button type="button" matStepperNext class="btn btn-primary pull-right">Next</button>
        </mat-card-actions>
  
    </form>
  
</mat-card>
