<mat-card>

    <form [formGroup]="frmStepOne">
  
      <div class="row">
        <mat-form-field>
          <input matInput formControlName="stateDepartment" matInput placeholder="State Department" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="stateDivision" matInput placeholder="State Division" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="address" matInput placeholder="Address" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="city" matInput placeholder="City" required>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field>
          <input matInput formControlName="zipCode" matInput placeholder="Zip Code" required>
        </mat-form-field>
        <!-- <mat-form-field>
          <input matInput formControlName="county" matInput placeholder="County" required>
        </mat-form-field> -->
        
        <mat-form-field>
          <mat-label>County</mat-label>
          <mat-select formControlName="county" placholder="County" required>
            <mat-option *ngFor="let county of counties" [value]="county.value">
              {{county.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  
      <mat-card-actions>
        <button type="button" matStepperNext class="btn btn-primary pull-right">Next</button>
      </mat-card-actions>
  
    </form>

</mat-card>