<!-- <router-outlet></router-outlet> -->

<div id="app">
	<nav class="navbar navbar-expand navbar-dark bg-dark">
	  <a href="#" class="navbar-brand">Job Portal</a>
	  <ul class="navbar-nav mr-auto" routerLinkActive="active">
		<li class="nav-item">
		  <a href="/" class="nav-link" routerLink="">Job(+) </a>
		</li>
		<li class="nav-item">
		  <a href="/user" class="nav-link" routerLink="user">User</a>
		</li>
	  </ul>
  
	  <ul class="navbar-nav ml-auto" >
		<li class="nav-item">
		  <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
		</li>
		<li class="nav-item">
		  <a href="/login" class="nav-link" routerLink="login">Login</a>
		</li>
	  </ul>
  
	  <ul class="navbar-nav ml-auto" >
		<li class="nav-item">
		  <a href="/profile" class="nav-link" routerLink="profile">username</a>
		</li>
		<li class="nav-item">
		  <a href class="nav-link" >LogOut</a>
		</li>
	  </ul>
	</nav>

	<div class="container">
		<div *ngIf="!submitted">
			<mat-card>Add Job</mat-card>
			<mat-horizontal-stepper linear #stepper>
				<mat-step [stepControl]="form1">
					<ng-template matStepLabel>Company</ng-template>
					<app-company #stepOne></app-company>
				</mat-step>
				<mat-step [stepControl]="form2">
					<ng-template matStepLabel>Billing</ng-template>
					<app-billing #stepTwo></app-billing>
				</mat-step>
				<mat-step [stepControl]="form3">
					<ng-template matStepLabel>Position</ng-template>
					<app-position #stepThree></app-position>
				</mat-step>
				<mat-step [stepControl]="form4">
					<ng-template matStepLabel>Supervisor</ng-template>
					<app-supervisor #stepFour></app-supervisor>
				</mat-step>
				<mat-step>
					<ng-template matStepLabel>Done</ng-template>	
					<p>You are now done.</p>
					
					<div *ngIf="this.form1">
						<h2 class="mat-h2"><strong>Company</strong></h2>
						<mat-list>
							<mat-list-item> <strong>State Department:</strong> {{ this.form1.value.stateDepartment }} </mat-list-item>
							<mat-list-item> <strong>State Division:</strong> {{ this.form1.value.stateDivision }}</mat-list-item>
							<mat-list-item> <strong>Address:</strong> {{ this.form1.value.address }}</mat-list-item>
							<mat-list-item> <strong>City:</strong> {{ this.form1.value.city }}</mat-list-item>
							<mat-list-item> <strong>Zip Code:</strong> {{ this.form1.value.stateDepartment }} </mat-list-item>
							<mat-list-item> <strong>County:</strong> {{ this.form1.value.stateDivision }}</mat-list-item>
						</mat-list>
					</div>
					<mat-divider></mat-divider>
					<div *ngIf="this.form2">
						<h2 class="mat-h2"><strong>Billing</strong></h2>
						<mat-list>
							<mat-list-item> <strong>Contact Name:</strong> {{ this.form2.value.contactName }} </mat-list-item>
							<mat-list-item> <strong>Phone Number:</strong> {{ this.form2.value.phoneNumber }}</mat-list-item>
							<mat-list-item> <strong>Email:</strong> {{ this.form2.value.email }}</mat-list-item>
							<mat-list-item> <strong>Address:</strong> {{ this.form2.value.address }}</mat-list-item>
							<mat-list-item> <strong>City:</strong> {{ this.form2.value.city }} </mat-list-item>
							<mat-list-item> <strong>Zip Code:</strong> {{ this.form2.value.zipCode }}</mat-list-item>
							<mat-list-item> <strong>County:</strong> {{ this.form2.value.county }}</mat-list-item>
						</mat-list>
					</div>
					<mat-divider></mat-divider>
					<div *ngIf="this.form3">
						<h2 class="mat-h2"><strong>Position</strong></h2>
						<mat-list>
							<mat-list-item> <strong>Position Title:</strong> {{ this.form3.value.positionTitle }} </mat-list-item>
							<mat-list-item> <strong>Address:</strong> {{ this.form3.value.address }}</mat-list-item>
							<mat-list-item> <strong>City:</strong> {{ this.form3.value.city }}</mat-list-item>
							<mat-list-item> <strong>ZipCode:</strong> {{ this.form3.value.zipCode }}</mat-list-item>
							<mat-list-item> <strong>County:</strong> {{ this.form3.value.county }} </mat-list-item>
							<mat-list-item> <strong>Hourly Wage:</strong> {{ this.form3.value.hourlyWage }}</mat-list-item>
							<mat-list-item> <strong>Hours to be worked weekly:</strong> {{ this.form3.value.hoursWorked }} </mat-list-item>
							<mat-list-item> <strong>Shift Start Time:</strong> {{ this.form3.value.shiftDate }}</mat-list-item>
							<mat-list-item> <strong>Shift End Time:</strong> {{ this.form3.value.shiftEnd }}</mat-list-item>
							<mat-list-item> <strong>Schedule:</strong> {{ this.form3.value.schedule }}</mat-list-item>
							<mat-list-item> <strong>Start Date:</strong> {{ this.form3.value.startDate }} </mat-list-item>
							<mat-list-item> <strong>End Date:</strong> {{ this.form3.value.endDate }}</mat-list-item>
							<mat-list-item> <strong>Job Description:</strong> {{ this.form3.value.jobDescription }}</mat-list-item>
						</mat-list>
					</div><mat-divider></mat-divider>
					<div *ngIf="this.form4">
						<h2 class="mat-h2"><strong>Supervisor</strong></h2>
						<mat-list>
							<mat-list-item> <strong>Name:</strong> {{ this.form4.value.name }} </mat-list-item>
							<mat-list-item> <strong>Phone Number:</strong> {{ this.form4.value.phoneNumber }}</mat-list-item>
							<mat-list-item> <strong>Email:</strong> {{ this.form4.value.email }}</mat-list-item>
						</mat-list>
					</div>

					<div class="action-buttons">
						<!-- <button mat-button matStepperPrevious>Back</button> -->
						<button matStepperPrevious type="button" class="btn btn-primary">Back</button>
						<!-- <button mat-button (click)="stepper.reset()">Reset</button> -->
						<button type="button" class="btn btn-danger" (click)="stepper.reset()">Reset</button>
						<button type="button" class="btn btn-success" (click)="saveJob()">Submit</button>
						<!-- <button mat-button (click)="submit()">Submit</button> -->
					</div>
				</mat-step>
			</mat-horizontal-stepper> 
		</div>
	</div>
</div>