<mat-card>

    <form [formGroup]="frmStepTwo">
        <div class="row">
            <mat-form-field>
                <input matInput placeholder="Contact Name" formControlName="contactName" matInput required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Phone Number" formControlName="phoneNumber" matInput required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Email" formControlName="email" matInput required>
            </mat-form-field>
        </div>
        <div class="row">
            <!-- <mat-form-field> -->
                <!-- <mat-checkbox class="ml-2" name="sameAsCompanyAddress">Same As Company Address</mat-checkbox> -->
                <!-- <mat-checkbox class="example-margin" >Checked</mat-checkbox> -->
                <!-- <input matInput placeholder="Same As Company Address" formControlName="sameAsCompanyAddress" matInput required>
            </mat-form-field> -->
            <mat-form-field>
                <input matInput placeholder="Address" formControlName="address" matInput required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="City" formControlName="city" matInput required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Zip Code" formControlName="zipCode" matInput required>
            </mat-form-field>
            <!-- <mat-form-field>
                <input matInput placeholder="County" formControlName="county" matInput required>
            </mat-form-field> -->
            <mat-form-field>
                <mat-label>County</mat-label>
                <mat-select formControlName="county" placholder="County" required>
                  <mat-option *ngFor="let county of counties" [value]="county.value">
                    {{county.viewValue}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
  
        <mat-card-actions>
            <button type="button" matStepperNext class="btn btn-primary pull-right">Next</button>
        </mat-card-actions>
  
    </form>
  
</mat-card>
